<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grupos de investigación - Facultad de Ingeniería</title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel = "icon" type="image/jpg" href="../../img/logos/unicartagena.ico">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/resume.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger small" href="#page-top">Facultad de Ingeniería</a>
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Grupos de Investigación</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger small" href="#about">Biotecnología, Alimentos y Educación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger small" href="#experience">IDAB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger  small" href="#education">Gimatica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger   small" href="#skills">GIHMAC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger  small" href="#interests">IFCRA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger  small" href="#awards">INCAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger  small" href="#ambiental">GIMA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger  small" href="#modelacion">MPP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger  small" href="#procesos">Procesos Avanzados de Oxidación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger  small" href="#nanomateriales">Nanomateriales Multifuncionales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger small" href="#nutricion">Nutrición, Salud y Calidad Alimentaria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger  small" href="#soluciones">E-SOLUCIONES</a>
          </li>
        </ul>
      </div>
      <a class="navbar-brand js-scroll-trigger text-primary" href="../../index.html">Página Principal</a>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h3 class="mb-0">
            <span class="text-primary">Biotecnología, Alimentos y Educación</span>
          </h3>
          <div class="subheading mb-5 small">Lider del grupo: Arnulfo Antonio Tarón Dunoyer · Codigo: COL0068252 ·
            <a href="mailto:name@email.com">atarond@unicartagena.edu.co</a>
          </div>
          <p class="mb-5">
            El Grupo de Biotecnología, Alimentos y Educación fue creado en el año 2008, y a partir de la fecha se ha 
            dedicado a realizar investigaciones en el campo de los procesos biotecnológicos, los alimentos, educación 
            y medio ambiente aportando soluciones a la comunidad tanto en lo social como en lo académico – científico, 
            a su vez el grupo está capacitado para prestar asesorías y a realizar análisis con miras a determinar la 
            calidad de los alimentos. Sus investigaciones están encaminadas a evaluar procesos biotecnológicos, la calidad
            en los alimentos, desarrollar procesos en la industria alimentaria, trabajar en los procesos educativos y sus 
            currículos respectivos.</p>
          
          
          <div class="row">
            <div class="col-md-4 col-sm-6 ">
              <a href="#">
                <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/1.png" 
                  onmouseover="this.src='../../img/about/investigacion/1-1.png'"
                  onmouseout="this.src='../../img/about/investigacion/1.png'" alt="">
              </a>
            </div>
            <div class="col-md-4 col-sm-6 ">
                <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/2.png" 
                      onmouseover="this.src='../../img/about/investigacion/2-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/2.png'" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 ">
              <a href="#">
                <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/3.png" 
                  onmouseover="this.src='../../img/about/investigacion/3-1.png'"
                  onmouseout="this.src='../../img/about/investigacion/3.png'" alt="">
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="experience">
          <div class="my-auto">
            <h3 class="mb-0">
              <span class="text-primary">Diseño de Procesos y Aprovechamiento de Biomasas</span>
            </h3>
            <div class="subheading mb-5 small">Lider del grupo: Karina Ojeda Delgado · Codigo: COL0074966 ·
              <a href="mailto:name@email.com">kojedad@unicartagena.edu.co</a>
            </div>
            <p class="mb-5">
              El Grupo de Investigción en Diseño de Procesos y Aprovechamiento de Biomasa (IDAB) está al Programa de 
              Ingeniería Química de la Universidad de Cartagena, creado en el año 2007 bajo el nombre de Grupo de 
              Investigación del Programa de Ingeniería Química (GIPIQ) con el objetivo de fortalecer la investigación 
              desarrollada desde la Universidad.<br>
              Los investigadores de IDAB son profesionales especializados en diferentes áreas de Ingeniería Química, 
              quienes se encuentran trabajando  en  forma interdisciplinaria en la evaluación, análisis, integración y 
              desarrollo sostenible de procesos y bioprocesos mediante el aprovechamiento de biomasas para la obtención 
              de productos de valor agregado y la remoción de contaminantes. 
              </p>
            
            
            <div class="row">
              <div class="col-md-4 col-sm-6 ">
                <a href="#">
                  <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/1.png" 
                    onmouseover="this.src='../../img/about/investigacion/1-1.png'"
                    onmouseout="this.src='../../img/about/investigacion/1.png'" alt="">
                </a>
              </div>
              <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                      <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/2.png" 
                        onmouseover="this.src='../../img/about/investigacion/2-1.png'"
                        onmouseout="this.src='../../img/about/investigacion/2.png'" alt="">
                  </a>
              </div>
              <div class="col-md-4 col-sm-6 ">
                <a href="#">
                  <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/3.png" 
                    onmouseover="this.src='../../img/about/investigacion/3-1.png'"
                    onmouseout="this.src='../../img/about/investigacion/3.png'" alt="">
                </a>
              </div>
            </div>
          </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="education">
            <div class="my-auto">
              <h3 class="mb-0">
                <span class="text-primary">Gimatica</span>
              </h3>
              <div class="subheading mb-5 small">Lider del grupo: Amaury Cabarcas Álvarez · Codigo: COL0072489 ·
                <a href="mailto:name@email.com">acabarcasa@unicartagena.edu.co</a>
              </div>
              <p class="mb-5">
                El grupo de investigación GIMATICA fue creado en el año 2006 desde el programa Ingeniería de Sistemas, 
                adscrito a la Facultad de Ingeniería de la Universidad de Cartagena.<br>
                La clasificación del grupo por Colciencias ha sido gradual primero en D, después en B y se pretende
                clasificar en A o A1, las más altas.  
              </p>
              <div class="row">
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/1.png" 
                      onmouseover="this.src='../../img/about/investigacion/1-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/1.png'" alt="">
                  </a>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <a href="#">
                        <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/2.png" 
                          onmouseover="this.src='../../img/about/investigacion/2-1.png'"
                          onmouseout="this.src='../../img/about/investigacion/2.png'" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/3.png" 
                      onmouseover="this.src='../../img/about/investigacion/3-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/3.png'" alt="">
                  </a>
                </div>
              </div>
            </div>
          </section>

        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="skills">
            <div class="my-auto">
              <h3 class="mb-0">
                <span class="text-primary">Hidráulica y Manejo Costero</span>
              </h3>
              <div class="subheading mb-5 small">Lider del grupo: Dalia Moreno Egel · Codigo: COL0024848 ·
                <a href="mailto:name@email.com">dmorenoe@unicartagena.edu.co</a>
              </div>
              <p class="mb-5">
                El Grupo de Investigación en Hidráulica y Manejo Costero (GIHMAC) tiene como objetivos:<br>
                Lograr conocimiento integral de las características hidrodinámicas y geomorfológicas de las zonas 
                costeras colombianas, especialmente las locales.<br>
                Evaluar los procesos costeros y sus efectos sobre la estabilidad y calidad de las playas, y los factores
                de riesgo por ascenso del nivel del mar y eventos climáticos extremos.<br>
                Desarrollar modelos hidrodinámicos en aguas someras para información escasa.<br>
                Estudiar y  presentar  soluciones integrales para el manejo de los recursos hídricos, la conservación, 
                estabilidad y calidad  de las cuencas hidrográficas, y el drenaje urbano, teniendo en cuenta las 
                características regionales y locales y  la información hidrológica disponible.<br>
                Estimular la formulación, definición y consolidación de proyectos de investigación  en el área de interés
                por parte de  docentes y estudiantes.<br>                  
                Incentivar la participación de estudiantes del programa de ingeniería Civil y de otros programas en el campo investigativo de la hidráulica y la ingeniería  de costas.
              </p>
              <div class="row">
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/1.png" 
                      onmouseover="this.src='../../img/about/investigacion/1-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/1.png'" alt="">
                  </a>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <a href="#">
                        <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/2.png" 
                          onmouseover="this.src='../../img/about/investigacion/2-1.png'"
                          onmouseout="this.src='../../img/about/investigacion/2.png'" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/3.png" 
                      onmouseover="this.src='../../img/about/investigacion/3-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/3.png'" alt="">
                  </a>
                </div>
              </div>
            </div>
          </section>

          <section class="resume-section p-3 p-lg-5 d-flex d-column" id="interests">
            <div class="my-auto">
              <h3 class="mb-0">
                <span class="text-primary">Ingeniería de Fluidos Complejos y Reología de Alimentos</span>
              </h3>
              <div class="subheading mb-5 small">Lider del grupo: Luis Alberto García Zapateiro · Codigo: COL01003315 ·
                <a href="mailto:name@email.com">lgarciaz@unicartagena.edu.co</a>
              </div>
              <p class="mb-5">
                    El Grupo de Investigación Ingeniería de Fluidos Complejos y Reología de Alimentos -IFCRA- fue creado en 
                    el año 2010, con el fin de desarrollar competentemente estudios de ingeniería, ciencia, tecnología e 
                    innovación en busca de soluciones científicas a diferentes problemas del sector agro-alimentario, 
                    actualmente se encuentra registrado en Colciencias con el código COL01003315 y categorizado en B.
              </p>
              <div class="row">
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/1.png" 
                      onmouseover="this.src='../../img/about/investigacion/1-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/1.png'" alt="">
                  </a>
                </div>
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/2.png" 
                      onmouseover="this.src='../../img/about/investigacion/2-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/2.png'" alt="">
                  </a>
                </div>
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/3.png" 
                      onmouseover="this.src='../../img/about/investigacion/3-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/3.png'" alt="">
                  </a>
                </div>
              </div>
            </div>
          </section>

          <section class="resume-section p-3 p-lg-5 d-flex d-column" id="awards">
              <div class="my-auto">
                <h3 class="mb-0">
                  <span class="text-primary">Ingeniería, Innovación, Calidad Alimentaria y Salud</span>
                </h3>
                <div class="subheading mb-5 small">Lider del grupo: Clemente Granados Conde. · Codigo: COL0090816 ·
                  <a href="mailto:name@email.com">cgranadosc@unicartagena.edu.co</a>
                </div>
                <p class="mb-5">
                    En el Grupo Ingeniería, Innovación, Calidad Alimentaria y Salud (INCAS) convergen profesionales de 
                    Ingeniería de Alimentos y de otras áreas del conocimiento que manejan la transformación y procesos 
                    de materias primas de consumo tales como frutas, lácteos, cereales, cárnicos, entre otros, y control
                    de calidad, ciencia y tecnología de los alimentos, medio ambiente, productos naturales y química.<br>
                    Las actividades del grupo se apoyan en las instalaciones de los programas de Ingeniería de Alimentos 
                    y Química Farmacéutica con los objetivos de desarrollar proyectos de investigación de estudiantes de 
                    pregrado y de posgrado, que de acuerdo con los resultados obtenidos, se dará su posterior aplicación 
                    en desarrollo tecnológico e industrial.</p>
                <div class="row">
                  <div class="col-md-4 col-sm-6 ">
                    <a href="#">
                      <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/1.png" 
                        onmouseover="this.src='../../img/about/investigacion/1-1.png'"
                        onmouseout="this.src='../../img/about/investigacion/1.png'" alt="">
                    </a>
                  </div>
                  <div class="col-md-4 col-sm-6 ">
                    <a href="#">
                      <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/2.png" 
                        onmouseover="this.src='../../img/about/investigacion/2-1.png'"
                        onmouseout="this.src='../../img/about/investigacion/2.png'" alt="">
                    </a>
                  </div>
                  <div class="col-md-4 col-sm-6 ">
                    <a href="#">
                      <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/3.png" 
                        onmouseover="this.src='../../img/about/investigacion/3-1.png'"
                        onmouseout="this.src='../../img/about/investigacion/3.png'" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </section>

            <section class="resume-section p-3 p-lg-5 d-flex d-column" id="ambiental">
              <div class="my-auto">
                <h3 class="mb-0">
                  <span class="text-primary">Modelación Ambiental</span>
                </h3>
                <div class="subheading mb-5 small">Lider del grupo: Edgar Eduardo Quiñones Bolaños · Codigo: COL0036455 ·
                  <a href="mailto:name@email.com">equinonesb@unicartagena.edu.co</a>
                </div>
                <p class="mb-5">
                      El Grupo de Investigación Modelación Ambiental (GIMA) es un grupo de la Facultad de Ingeniería de la 
                      Universidad de Cartagena, creado en el año 2000, con el objeto de adelantar investigaciones que permitan 
                      ampliar el conocimiento de las acciones del hombre y de los procesos  físicos, químicos y biológicos que 
                      están afectando la calidad de vida de nuestros ecosistemas. Paralelamente, desarrollar, diseñar y plantear 
                      estrategias, mecanismos y tecnologías para la prevención, tratamiento y control de la contaminación 
                      medioambiental.<br>
                      GIMA ha sido el gestor de la Maestría en Ingeniería Ambiental ofrecida por la Universidad de Cartagena y 
                      aprobada mediante Acuerdo No 01 del 27 de Marzo del 2009 del Consejo Superior de la universidad y radicada 
                      ante el Ministerio de Educación Nacional en el mismo año. Además, de la creación del Doctorado en Ingeniería,
                       lo cual será ejecutado con la Universidad Tecnológica de Bolívar
                </p>
                <div class="row">
                  <div class="col-md-4 col-sm-6 ">
                    <a href="#">
                      <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/1.png" 
                        onmouseover="this.src='../../img/about/investigacion/1-1.png'"
                        onmouseout="this.src='../../img/about/investigacion/1.png'" alt="">
                    </a>
                  </div>
                  <div class="col-md-4 col-sm-6 ">
                    <a href="#">
                      <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/2.png" 
                        onmouseover="this.src='../../img/about/investigacion/2-1.png'"
                        onmouseout="this.src='../../img/about/investigacion/2.png'" alt="">
                    </a>
                  </div>
                  <div class="col-md-4 col-sm-6 ">
                    <a href="#">
                      <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/3.png" 
                        onmouseover="this.src='../../img/about/investigacion/3-1.png'"
                        onmouseout="this.src='../../img/about/investigacion/3.png'" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </section>

            <section class="resume-section p-3 p-lg-5 d-flex d-column" id="modelacion">
              <div class="my-auto">
                <h3 class="mb-0">
                  <span class="text-primary">Modelación de Partículas y Procesos</span>
                </h3>
                <div class="subheading mb-5 small">Lider del grupo: Álvaro Realpe Jiménez · Codigo: COL0003919 ·
                  <a href="mailto:name@email.com">arealpe@unicartagena.edu.co</a>
                </div>
                <p class="mb-5">
                        Desde sus inicios, éste grupo ha contribuido al fortalecimiento de la investigación desarrollada en la 
                        Facultad de Ingeniería contando con la participación de estudiantes de pregrado, la vinculación de Jóvenes 
                        Investigadores, y la colaboración de docentes investigadores con formación en doctorado y maestría 
                        provenientes no sólo del Programa de Ingeniería Química de la Institución, sino también de universidades 
                        nacionales e internacionales como la Universidad de Puerto Rico.<br>
                        En adición, el grupo MPP ha participado activamente en la organización de seminarios científicos, 
                        la elaboración de los documentos requeridos para la renovación del Registro Calificado para el programa de 
                        pregrado en Ingeniería Química (2011-2018) y la revisión de las Condiciones de Calidad de acuerdo al decreto 
                        1295 del 2010 para la solicitud de Registro Calificado para la creación de los programas de postgrado de 
                        Doctorado en Ingeniería y Maestría en Ingeniería Química con énfasis en Investigación y Profundización.
                </p>
                <div class="row">
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/1.png" 
                      onmouseover="this.src='../../img/about/investigacion/1-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/1.png'" alt="">
                  </a>
                </div>
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/2.png" 
                      onmouseover="this.src='../../img/about/investigacion/2-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/2.png'" alt="">
                  </a>
                </div>
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/3.png" 
                      onmouseover="this.src='../../img/about/investigacion/3-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/3.png'" alt="">
                  </a>
                </div>
              </div>
            </div>
          </section>

          <section class="resume-section p-3 p-lg-5 d-flex d-column" id="procesos">
            <div class="my-auto">
              <h3 class="mb-0">
                <span class="text-primary">Modelado y Aplicación de Procesos Avanzados de Oxidación</span>
              </h3>
              <div class="subheading mb-5 small">Lider del grupo: José Colina Márquez · Codigo: COL0110928 ·
                <a href="mailto:name@email.com">jcolinam@unicartagena.edu.co</a>
              </div>
              <p class="mb-5">
                El grupo de investigación ha establecido dos objetivos básicos de investigación:<br>
                1.  Estudiar los principios fundamentales que rigen las reacciones de los procesos avanzados 
                de oxidación y contribuir con enfoques novedosos acerca de los mecanismos y leyes cinéticas 
                de estos procesos.<br>
                2.  Implementar estos procesos avanzados de oxidación para la solución de problemas reales de 
                la industria y el medio productivo en lo relacionado con la protección del medio ambiente y 
                fuentes de energía alternativas. La estrategia consiste en la formulación de modelos matemáticos 
                que describan satisfactoriamente todos los fenómenos de transporte involucrados en los procesos 
                avanzados de oxidación.
              </p>
              <div class="row">
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/1.png" 
                      onmouseover="this.src='../../img/about/investigacion/1-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/1.png'" alt="">
                  </a>
                </div>
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/2.png" 
                      onmouseover="this.src='../../img/about/investigacion/2-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/2.png'" alt="">
                  </a>
                </div>
                <div class="col-md-4 col-sm-6 ">
                  <a href="#">
                    <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/3.png" 
                      onmouseover="this.src='../../img/about/investigacion/3-1.png'"
                      onmouseout="this.src='../../img/about/investigacion/3.png'" alt="">
                  </a>
                </div>
              </div>
            </div>
          </section>

          <section class="resume-section p-3 p-lg-5 d-flex d-column" id="nanomateriales">
            <div class="my-auto">
            <h3 class="mb-0">
              <span class="text-primary">Nanomateriales Multifuncionales</span>
            </h3>
            <div class="subheading mb-5 small">Lider del grupo: Adriana Herrera Barros · Codigo: COL0146573 ·
              <a href="mailto:name@email.com">aherrerab2@unicartagena.edu.co</a>
            </div>
            <p class="mb-5">
              El Grupo de Investigación de Nanomateriales Multifuncionales respalda la innovación científica y tecnológica 
              para la generación de proyectos de nanotecnología enfocados en encontrar soluciones que contribuyan al 
              bienestar de la sociedad, a través del diseño y manipulación de materiales en la nanoescala.
            </p>
            <div class="row">
              <div class="col-md-4 col-sm-6 ">
                <a href="#">
                  <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/1.png" 
                    onmouseover="this.src='../../img/about/investigacion/1-1.png'"
                    onmouseout="this.src='../../img/about/investigacion/1.png'" alt="">
                </a>
              </div>
              <div class="col-md-4 col-sm-6 ">
                <a href="#">
                  <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/2.png" 
                    onmouseover="this.src='../../img/about/investigacion/2-1.png'"
                    onmouseout="this.src='../../img/about/investigacion/2.png'" alt="">
                </a>
              </div>
              <div class="col-md-4 col-sm-6 ">
                <a href="#">
                  <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/3.png" 
                    onmouseover="this.src='../../img/about/investigacion/3-1.png'"
                    onmouseout="this.src='../../img/about/investigacion/3.png'" alt="">
                </a>
              </div>
            </div>
          </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="nutricion">
          <div class="my-auto">
            <h3 class="mb-0">
              <span class="text-primary">Nutrición, Salud y Calidad Alimentaria</span>
            </h3>
            <div class="subheading mb-5 small">Lider del grupo: Piedad Montero Castillo · Codigo: COL0071712 ·
              <a href="mailto:name@email.com">pmonteroc@unicartagena.edu.co</a>
            </div>
            <p class="mb-5">
              El  grupo de Investigación en Nutrición, salud y Calidad Alimentaria es un grupo fundado en el 
              segundo periodo de 2006 en el programa de ingeniería de alimentos de la universidad de Cartagena. 
              Actualmente este grupo está ubicado en la categoría C de Colciencias. <br>
              El grupo se encuentra fundamentado en los siguientes aspectos esenciales:<br>
              · Desarrollar proyectos de Investigación que le permitan al grupo ser un apoyo investigativo, para estudios 
              de postgraduación en el área de los alimentos.<br>
              · Enfatizar en la realización de proyectos de investigación que permitan consolidar nuestras líneas de investigación.<br>
              · Proyectar la publicación de artículos científicos derivados de los proyectos de investigación en revistas indexadas.<br>
              · Fortalecer los semilleros de investigación del grupo teniendo como fin primordial la formación investigativa de los
              estudiantes, proyectando así el relevo generacional.<br>
              · Participar en eventos científicos del área de los alimentos a nivel regional, nacional e internacional, al objeto 
              de posicionar el programa de Ingeniería de Alimentos de la Universidad de Cartagena.<br>
              · Desarrollar proyectos de investigación en asocio con otros grupos de investigación tanto de la Facultad de 
              Ingeniería como de la Universidad de Cartagena.
            </p>
            <div class="row">
              <div class="col-md-4 col-sm-6 ">
                <a href="#">
                  <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/1.png" 
                    onmouseover="this.src='../../img/about/investigacion/1-1.png'"
                    onmouseout="this.src='../../img/about/investigacion/1.png'" alt="">
                </a>
              </div>
              <div class="col-md-4 col-sm-6 ">
                <a href="#">
                  <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/2.png" 
                    onmouseover="this.src='../../img/about/investigacion/2-1.png'"
                    onmouseout="this.src='../../img/about/investigacion/2.png'" alt="">
                </a>
              </div>
              <div class="col-md-4 col-sm-6 ">
                <a href="#">
                  <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/3.png" 
                    onmouseover="this.src='../../img/about/investigacion/3-1.png'"
                    onmouseout="this.src='../../img/about/investigacion/3.png'" alt="">
                </a>
              </div>
            </div>
          </div>
        </section>

        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="soluciones">
          <div class="my-auto">
            <h3 class="mb-0">
              <span class="text-primary">Soluciones Tecnológicas de Nueva Generación para el Desarrollo Social, Industrial y Empresarial</span>
            </h3>
            <div class="subheading mb-5 small">Lider del grupo: Julio Cesar Rodríguez Ribón · Codigo: COL0068388 ·
              <a href="mailto:name@email.com">jrodriguezr@unicartagena.edu.co</a>
            </div>
            <p class="mb-5">
              El grupo de investigaciones, se encuentra conformado por investigadores en el área de las TICs y busca Investigar en 
              temáticas relacionadas con tecnologías de nueva generación y contribuir a problemas no resueltos en el entorno 
              nacional y regional, relacionados con la gestión empresarial y el mejoramiento de la calidad de vida de la sociedad 
              colombiana, en especial de la región Caribe.
            </p>
            <div class="row">
              <div class="col-md-4 col-sm-6 ">
              <a href="#">
                <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/1.png" 
                  onmouseover="this.src='../../img/about/investigacion/1-1.png'"
                  onmouseout="this.src='../../img/about/investigacion/1.png'" alt="">
              </a>
            </div>
            <div class="col-md-4 col-sm-6 ">
              <a href="#">
                <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/2.png" 
                  onmouseover="this.src='../../img/about/investigacion/2-1.png'"
                  onmouseout="this.src='../../img/about/investigacion/2.png'" alt="">
              </a>
            </div>
            <div class="col-md-4 col-sm-6 ">
              <a href="#">
                <img class="img-fluid " style="width:220px !important; height:160px !important" src="../../img/about/investigacion/3.png" 
                  onmouseover="this.src='../../img/about/investigacion/3-1.png'"
                  onmouseout="this.src='../../img/about/investigacion/3.png'" alt="">
              </a>
            </div>
          </div>
        </div>
      </section>
    
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

  </body>

</html>
